@font-face {
  font-family: "font1";
  src: url("Karimun\ copy.ttf");
}

@font-face {
  font-family: "font2";
  src: url(TAN-NIMBUS\ copy.ttf);
}

@font-face {
font-family: "font3";
src: url(CanelaText-RegularNo2-Trial\ copy.ttf);
}

@font-face {
font-family: "font4";
src: url(SpecialElite\ copy.ttf);
}

body {
  font-family: "font2";
  text-align: center;
  margin: 0;
  padding: 0;
  background: 
}

/* Title */
h1 {
  margin-top: 20px;
  color: #333;
}

h3 {
  font-family: font3;
}
/* Video and Canvas */
video, canvas {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border: 2px solid #ccc;
}

/* Buttons */
button {
  font-family: Marker Felt, fantasy;
  align-items:center;
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:rgb(120, 102, 194);
  color: #f9f9f9;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
 
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #ffffff;
  color:rgb(120, 102, 194);
}

video, canvas{
  color: black;
  border: 40px solid transparent;
  font-family: font3;
  box-shadow: 0 0 20px rgb(121, 118, 121);
  transition: ease-in-out;
  border-radius: 100px;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
  transition: 0.3s ease-in-out;
  text-decoration: none;

}
